.myForm{
display: flex;
flex-direction: column;
justify-content: space-between;
/* align-items: center; */

	width: 550px;
	/* margin: 0 auto; */
	text-align: left;
	
}
.formField{
	width:100%;
}

.submit-button{
	margin-top:2%;
}